span.spinner-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 19999999;
}
span.transparent-spinner-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 19999999;
}

.spinner-message {
    position: absolute;
    width: 100%;
    z-index: 2000000000;
    left: 0%;
    top: 80%;
    text-align: center;    
    font-size: 1.5em;
    font-weight: 600;
    font-family: "Arial";
    color: #FFFFFF;
}

@media screen and (min-height:420px)
{
    .spinner-message
    {
        top: 72%;
    }
}

@media screen and (min-height:600px)
{
    .spinner-message
    {
        top: 65%;
    }
}

@media screen and (min-height:768px)
{
    .spinner-message
    {
        top: 62%;
    }
}

@media screen and (min-height:992px)
{
    .spinner-message
    {
        top: 60%;
    }
}

@media screen and (min-height:1200px)
{
    .spinner-message
    {
        top: 58%;
    }
}


/* Processing Spinner */

.processing-spinner-backdrop {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.95);
    pointer-events: none;
    z-index: 19999999;
}

.processing-spinner-message {
    position: absolute;
    width: 100%;
    z-index: 2000000000;
    left: 0%;
    top: 45%;
    text-align: center;    
    font-size: 1em;
    font-weight: 600;
    font-family: "Arial";
    color: #FFFFFF;
}


@media screen and (min-width:600px)
{
    .processing-spinner-message
    {
        top: 80%;
    }
}

@media screen and (min-width:768px)
{
    .processing-spinner-message
    {
        top:75%;
    }
}


.facebook-loading-backdrop {
    top: 47px;
    left: 20px;
    height: 90%;
    min-height: 600px;
    position: absolute;
    z-index: 100;
    background: rgba(0,0,0,.5);
    width: 90%;
}
    
.twitter-loading-backdrop {
    top: 47px;
    left: 20px;
    height: 90%;
    min-height: 240px;
    position: absolute;
    z-index: 100;
    background: rgba(0,0,0,.5);
    width: 90%;
}