<!-- begin .main-container -->
<div class="main-container">
  <div class="page-content-container care-content-container">
    <div class="grid-row page-top-container">
      <div class="grid-col-sm-2 grid-col-xs-12">
        <p><a href="javascript:history.back()" target="_self" class="back-button"><i class="icon icon-left-circled"></i>Back</a></p>
      </div><!-- end .grid-col -->
      <div class="grid-col-sm-8 grid-col-xs-12">
        <h1 class="page-title">Types of Living and Care</h1>
        <p class="center"><button type="button" ng-click="SiteHeaderService.goToCommunities('all');" class="button button-teal"><i class="icon icon-th-list"></i> VIEW ALL COMMUNITIES</button></p>
      </div><!-- end .grid-col -->
      <div class="grid-col-sm-2 grid-col-xs-12">
      </div><!-- end .grid-col -->
    </div><!-- end .grid-row -->
  
    <!-- LIMITED MAINTENANCE / MAINTENANCE FREE -->
    <div class="grid-row category-container">
      <div class="grid-col-xs-12">
        <div class="category-image">
          <button type="button" ng-click="SiteHeaderService.goToCommunities('maintenanceFree');"><img src="common/img/maintenanceFree.jpg" alt="Maintenance Free"></button>
        </div>
        <div class="category-description">
          <h2><button type="button" ng-click="SiteHeaderService.goToCommunities('maintenanceFree');">Limited Maintenance / Maintenance Free</button></h2>
          <p>Limited Maintenance/Maintenance Free residences are lower maintenance housing options ideal for individuals looking to downsize their home and/or reduce the amount of work it takes to maintain that home. These are homes, townhomes, condos, apartments, that are not specifically marketed as housing for 50+/retirees but have amenities that are attractive to empty nesters. <button type="button" ng-click="SiteHeaderService.goToCommunities('maintenanceFree');">View communities &raquo;</button></p>
        </div>
      </div>
    </div><!-- end .category-container -->
    
    <!-- INDEPENDENT LIVING -->
    <div class="grid-row category-container">
      <div class="grid-col-xs-12">
        <div class="category-image">
          <button type="button" ng-click="SiteHeaderService.goToCommunities('independentLiving');"><img src="common/img/independentLiving.jpg" alt="Independent Living"></button>
        </div>
        <div class="category-description">
          <h2><button type="button" ng-click="SiteHeaderService.goToCommunities('independentLiving');">Independent Living</button></h2>
          <p>Independent living category living is designed specifically for 55+ adults and may have age restrictions with regards to who can own or rent in their communities/developments. These residences tend to have additional service beyond basic home maintenance including housekeeping, social programs, additional security and transportation services that create a smaller community of people at a similar life stage. Single level Garden Homes, Condos and apartments are most common within this category. <button type="button" ng-click="SiteHeaderService.goToCommunities('independentLiving');">View communities &raquo;</button></p>
        </div>
      </div>
    </div><!-- end .category-container -->
    
    <!-- CONTINUING CARE RETIREMENT COMMUNITIES -->
    <div class="grid-row category-container">
      <div class="grid-col-xs-12">
        <div class="category-image">
          <button type="button" ng-click="SiteHeaderService.goToCommunities('ccrc');"><img src="common/img/ccrc.jpg" alt="Continuing Care Retirement Communities"></button>
        </div>
        <div class="category-description">
          <h2><button type="button" ng-click="SiteHeaderService.goToCommunities('ccrc');">Continuing Care Retirement Communities</button></h2>
          <p>Continuing Care Retirement Communities are designed to allow a senior to age in place from independent living to full nursing/specialized care. The communities are designed to meet a senior’s housing and care needs as they grow older and typically include many of the options covered in this guide. A full social calendar along with meal and other services are typically available. CCRC’s are ideal for seniors who want to avoid relocation as their needs increase with age. <button type="button" ng-click="SiteHeaderService.goToCommunities('ccrc');">View communities &raquo;</button></p>
        </div>
      </div>
    </div><!-- end .category-container -->
    
    <!-- ASSISTED LIVING -->
    <div class="grid-row category-container">
      <div class="grid-col-xs-12">
        <div class="category-image">
          <button type="button" ng-click="SiteHeaderService.goToCommunities('assistedLiving');"><img src="common/img/assistedLiving.jpg" alt="Assisted Living"></button>
        </div>
        <div class="category-description">
          <h2><button type="button" ng-click="SiteHeaderService.goToCommunities('assistedLiving');">Assisted Living</button></h2>
          <p>Assisted Living communities are for seniors needing assistance with daily living activities beyond basic home maintenance and housekeeping but do not require nursing care. Daily activities can include full housekeeping services, meals, dressing and hygiene. These communities typically provide a good amount of shared health care/wellness resources on site as well as transportation and social activities. <button type="button" ng-click="SiteHeaderService.goToCommunities('assistedLiving');">View communities &raquo;</button></p>
        </div>
      </div>
    </div><!-- end .category-container -->
    
    <!-- HOME CARE -->
    <div class="grid-row category-container">
      <div class="grid-col-xs-12">
        <div class="category-image">
          <button type="button" ng-click="SiteHeaderService.goToCommunities('homeCare');"><img src="common/img/homeCare.jpg" alt="Home Care"></button>
        </div>
        <div class="category-description">
          <h2><button type="button" ng-click="SiteHeaderService.goToCommunities('homeCare');">Home Care</button></h2>
          <p>These companies provide services that help a senior remain in their current residence or transition living to a loved one/caregiver home. These services begin with basic maintenance and housekeeping to 24-hour nursing care and can be customized to fit the specific needs of the senior. Many of these companies can also help make each home senior or handicap ready ensuring the senior’s home is as comfortable as possible adapting to their changing needs. These types services are ideal for seniors who simply will not consider relocation to accommodate their changing needs. <button type="button" ng-click="SiteHeaderService.goToCommunities('homeCare');">View communities &raquo;</button></p>
        </div>
      </div>
    </div><!-- end .category-container -->
    
    <!-- ON-SITE HOME CARE -->
    <div class="grid-row category-container">
      <div class="grid-col-xs-12">
        <div class="category-image">
          <button type="button" ng-click="SiteHeaderService.goToCommunities('onSiteHomeCare');"><img src="common/img/onSiteHomeCare.jpg" alt="On-Site Home Care"></button>
        </div>
        <div class="category-description">
          <h2><button type="button" ng-click="SiteHeaderService.goToCommunities('onSiteHomeCare');">On-Site Home Care</button></h2>
          <p>Retirement Communities that have partnered with independent, 3rd party home cares services to provide enhanced levels of care to their residents beyond the services included with their residence. These services are similar to Home Care but exist within a retirement community or system. <button type="button" ng-click="SiteHeaderService.goToCommunities('onSiteHomeCare');">View communities &raquo;</button></p>
        </div>
      </div>
    </div><!-- end .category-container -->
    
    <!-- RESPITE CARE -->
    <div class="grid-row category-container">
      <div class="grid-col-xs-12">
        <div class="category-image">
          <button type="button" ng-click="SiteHeaderService.goToCommunities('respiteCare');"><img src="common/img/respiteCare.jpg" alt="Respite Care"></button>
        </div>
        <div class="category-description">
          <h2><button type="button" ng-click="SiteHeaderService.goToCommunities('respiteCare');">Respite Care</button></h2>
          <p>Communities that offer temporary care for seniors at their facilities ranging from 2 days to up to a full month. Care levels vary to need and are designed to facilitate temporary care in place of home/family care. <button type="button" ng-click="SiteHeaderService.goToCommunities('respiteCare');">View communities &raquo;</button></p>
        </div>
      </div>
    </div><!-- end .category-container -->
    
    <!-- MEMORY CARE -->
    <div class="grid-row category-container">
      <div class="grid-col-xs-12">
        <div class="category-image">
          <button type="button" ng-click="SiteHeaderService.goToCommunities('memoryCare');"><img src="common/img/memoryCare.jpg" alt="Memory Care"></button>
        </div>
        <div class="category-description">
          <h2><button type="button" ng-click="SiteHeaderService.goToCommunities('memoryCare');">Memory Care</button></h2>
          <p>At home or care within a community designed specifically to treat or improve quality of life for seniors suffering the challenges related to memory loss for aging adults. These services range from early onset of memory loss to full care services for Alzheimer’s/Dementia offering secure environments to manage symptoms attributed memory loss. They can be made available for independent living residents to full nursing care. <button type="button" ng-click="SiteHeaderService.goToCommunities('memoryCare');">View communities &raquo;</button></p>
        </div>
      </div>
    </div><!-- end .category-container -->
    
    <!-- REHABILITATION CARE -->
    <div class="grid-row category-container">
      <div class="grid-col-xs-12">
        <div class="category-image">
          <button type="button" ng-click="SiteHeaderService.goToCommunities('rehab');"><img src="common/img/rehab.jpg" alt="Rehabilitation"></button>
        </div>
        <div class="category-description">
          <h2><button type="button" ng-click="SiteHeaderService.goToCommunities('rehab');">Rehabilitation Care</button></h2>
          <p>Care facilities offering short or long term rehabilitation services for patients/residents recovering from physical challenges associated with injury or other temporary limitations. Care services are designed to help in the recovery from these challenges returning a patient/resident to their prior need level. <button type="button" ng-click="SiteHeaderService.goToCommunities('rehab');">View communities &raquo;</button></p>
        </div>
      </div>
    </div><!-- end .category-container -->
    
    <!-- NURSING/SPECIALTY CARE -->
    <div class="grid-row category-container">
      <div class="grid-col-xs-12">
        <div class="category-image">
          <button type="button" ng-click="SiteHeaderService.goToCommunities('nursingCare');"><img src="common/img/nursingCare.jpg" alt="Nursing Care"></button>
        </div>
        <div class="category-description">
          <h2><button type="button" ng-click="SiteHeaderService.goToCommunities('nursingCare');">Nursing / Specialty Care</button></h2>
          <p>Nursing homes with the highest level of specialized, 24-hour nursing care. They typically provide all the levels of care associated with more active level senior care but include additional services meant to improve quality of life in advanced years as well all the medical services necessary to maintain health to the highest level possible. These care providers work alongside physicians and are common among the oldest of the senior population. <button type="button" ng-click="SiteHeaderService.goToCommunities('nursingCare');">View communities &raquo;</button></p>
        </div>
      </div>
    </div><!-- end .category-container -->
    
    <p class="center"><button type="button" ng-click="SiteHeaderService.goToCommunities('all')" class="button button-teal"><i class="icon icon-th-list"></i> VIEW ALL COMMUNITIES</button></p>
  </div><!-- end .page-content-container -->
</div><!-- end .main-container -->