<div class="grid-row listing-container"
     ng-class="{
       'basic'    : !community.isEnhanced,
       'selected' : community.isMarkerHovered
     }"
     ng-mouseenter="growMarker()"
     ng-mouseleave="ungrowMarker()"
>
  <div class="grid-col-sm-4 grid-col-xs-12 photo-container">
    <a class="link" ng-href="{{::'../#/community/' + community.id + '/' + urlFriendlyCommunityName}}">
        <img  class="photo"
              ng-if="::community.s3_image_thumbnail_url"
              ng-src="{{::community.s3_image_thumbnail_url}}" 
              alt="thumbnail"
        >
        <img  class="photo"
              ng-if="::!community.s3_image_thumbnail_url && community.s3_image_url"
              ng-src="{{::community.s3_image_url}}" 
              alt="thumbnail"
        >
        <img  class="photo"
              ng-if="::!community.s3_image_thumbnail_url && !community.s3_image_url"
              src="common/img/no-image.jpg" 
              alt="thumbnail"
        >
    </a>
    <a class="button button-teal button-view-profile" 
        ng-href="{{::'../#/community/' + community.id + '/' + urlFriendlyCommunityName}}"
        ng-if="::community.isEnhanced"
    >View Profile</a>
  </div><!-- end .photo-container -->
  <div class="grid-col-sm-8 grid-col-xs-12 info-container">
    <div class="featured-label-container"
          ng-if="::community.isEnhanced"
    >
      <span class="featured-label">FEATURED</span>
    </div>
    
<div class="contact-info">
    <a class="favorite-button"
    ng-class="{
      'favorited' : community.isFavorited
    }"
    ng-click="toggleFavorited()"
  ><i class="icon icon-star"></i></a>
  
      <span class="community-name"><a 
              class="link community-link"
              ng-href="{{::'../#/community/' + community.id + '/' + urlFriendlyCommunityName}}"
              ><span ng-bind="::community.filterRanking"></span>. <span ng-bind="::community.name"></span></a></span>
      <br ng-if="::community.address1"><span
            ng-if="::community.address1"
            ng-bind="::community.address1"
      ></span>
      <br ng-if="::community.address2"><span
            ng-if="::community.address2"
            ng-bind="::community.address2"
      ></span>
      
      <br ng-if="::community.city"><span
            ng-if="::community.city"
            ng-bind="::community.city"
      ></span><span ng-if="::community.city && community.state">,</span>
      <span ng-if="::community.state"
            ng-bind="::community.state"
      ></span>
      <span ng-if="::community.zip"
            ng-bind="::community.zip"
      ></span>
      <br ng-if="::community.phone"><span
            ng-if="::community.phone"
            ng-bind="::community.phone | telephone"
      ></span>
      <br ng-if="::community.email"><span><a ng-if="::community.email" ng-href="{{::'mailto:' + community.email}}" ng-bind="::community.email" target="_top" class="link email-link"></a></span>
      <br ng-if="::community.website"><span><a ng-if="::community.website" ng-href="{{::'http://' + community.website}}" ng-bind="::community.website" class="link website-link"></a></span>
    </div><!-- end .contact-info -->
    
  </div><!-- end .info-container -->
</div><!-- end .listing-container -->